body, html {
    height: 100%;
    margin:0px;
}

.cont {
    position: relative;
    text-align: center;
    color: white;
}

/* Top left text */
.top-left {
	color:white;
    position: absolute;
    top: 5%;
    left: 10px;
}

/* Centered text */
.centered {
	color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}